<main>
    <h1>
        Hi! :D
    </h1>
    <form action="" method = "post">
        <input type="text" name = "author_name">
        <input type="submit" value = "Authorify!">
    </form>
    <ul>
        @foreach(var author in @ViewBag.authors)
        {
            <li>@author.name</li>
        }
    </ul>
</main>